<%- include("../partials/header") %>

<header class="jumbotron">
    <h1 class=".ml-md-auto"><span>Conectate a traves de</span><br>
        eventos en todo el pais </h1>
    <p>Encuentra eventos para todos los gustos</p>
    <form action="/eventos" method="GET" class="form-inline" id="campground-search">
        <div class="form-group">
            <input type="text" name="search" placeholder="Conferencia..." class="form-control">
            <input type="submit" value="Buscar" class="btn btn-outline-danger">
        </div>
    </form>
    <div class="py-3">
        <p>O crea el tuyo!</p>
        <a class="btn btn-outline-danger" href="/eventos/new">Crea tu propio evento!</a>
    </div>
    <img class="image-main" src="/1.png" alt="">
</header>

<h3 class="eventos-title">Nuestros eventos mas populares</h3>
<div class="row text-center" id="evento-grid">

    <% eventos.forEach((evento) =>{ %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">

        <div class="card">
            <img class="card-img-top" src="<%= evento.image %>" alt="<%= evento.name %>">
            <div class="card-body">
                <h5 class="card-title"><%- evento.name -%></h5>
                <p>$ <%- evento.price -%></p>
                <a href="/eventos/<%= evento._id %>" class="btn btn-danger">Mas info</a>
            </div>
        </div>
    </div>
    <% }); %>
</div>




<%- include("../partials/footer") %>